.nav-bar {
  background-color: white;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  min-width: 200px;
}

.nav-bar__header {
  padding: 4px 14px;
}

.nav-bar__list {
  list-style-type: none;
  padding: 0;
}

.nav-bar__list-item {
  margin: 8px 0;
}
