.phone-shuffle-input {
  height: 50px;
  width: 50px;
  border-radius: 4px;
  background-color: white;
  margin: 0 4px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.phone-shuffle-input__value {
  font-family: Roboto;
  font-weight: bold;
}
